<ion-header>
    <ion-toolbar>
      <ion-title>Informações dos Serviços</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" name="desc" [(ngModel)]="servico.desc" #desc="ngModel" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Tipo de Serviço</ion-label>
        <ion-input type="text" name="tipo" [(ngModel)]="servico.tipo" #tipo="ngModel" required>
          <ion-select placeholder="Selecione o tipo do Serviço">
            <ion-select-option value="Manutenção">Manutenção</ion-select-option>
            <ion-select-option value="Internet">Internet</ion-select-option>
          </ion-select>
        </ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Aberto</ion-label>
          <ion-toggle type="text" name="status" [(ngModel)]="servico.status" #status="ngModel" required checked></ion-toggle>
        </ion-item>

    <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input type="text" name="valor" [(ngModel)]="servico.valor" #valor="ngModel" required></ion-input>
      </ion-item>
  

    <ion-item lines="nome"></ion-item>
  
  
    <ion-item lines="none" padding>
      <ion-button type= "submit" color="primary" [disabled]="fc.invalid">Salvar</ion-button>
      <ion-button type= "reset" [routerLink] = "(['/tabs/tab3'])" color="primary" >Cancelar</ion-button>
    </ion-item>
  </form>
  </ion-content>