<ion-header>
  <ion-toolbar>
    <ion-title>
      Relação de Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add" [routerLink]="(['/tabs/addCliente'])"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="clientes$ | async as clientes">

    <ion-item-sliding *ngFor="let cliente of clientes">

      <ion-item-options side="start">
        <ion-item-option color="warning"(click)="refresh(item)">Atualizar</ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label side="start">{{cliente.nome}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(item)">Deletar</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>